<p>childcategory works!</p>
<div class="row mt-4">
  <!-- categro list List -->
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success text-white">Child Category List</div>
      <div class="card-body">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Sr No</th>
              <th>Parent Category</th>
              <th>child category</th>
            </tr>
          </thead>
          <tbody>
            @for (item of gridData(); track $index) {
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ item.parentCategoryName }}</td>
              <td>{{ item.categoryName }}</td>
              <td>
                <button class="btn btn-sm btn-primary me-2" (click)="onEdit(item)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="onDelete(item.childCategoryId)">
                  Delete
                </button>
              </td>
            </tr>
            }

            <!-- Repeat rows dynamically -->
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- New Department Form -->
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success text-white">New Category</div>
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="catName" class="form-label">Category Name</label>
            <input
              type="text"
              id="catName"
              class="form-control"
              name="catName"
              [(ngModel)]="newObj.categoryName"
            />
          </div>

          <div class="mb-3">
            <label for="deptId" class="form-label">Select Parent Category</label>
            <select
              id="deptId"
              name="parentCategoryId"
              class="form-select"
              [(ngModel)]="newObj.parentCategoryId"
            >
              <option value="">Select Parent Category</option>
              @for (item of parentCatList(); track $index) {
              <option [value]="item.categoryId">{{ item.categoryName }}</option>
              }
            </select>
          </div>

          <div class="d-flex justify-content-between">
            <button type="reset" class="btn btn-secondary">Reset</button>
            @if(this.newObj.childCategoryId==0){
            <button type="submit" class="btn btn-success" (click)="save()">Save Category</button>
            }@else{
            <button type="submit" class="btn btn-warning" (click)="update()">
              Update Category
            </button>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
