<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header bg-success text-white">New Ticket</div>
      <div class="card-body">
        <form>
          <div class="row mb-3">
            <div class="col-md-3">
              <label for="severity" class="form-label">Select Severity</label>
              <select
                [(ngModel)]="newTicketObj.severity"
                id="severity"
                class="form-control"
                name="severity"
              >
                <option value="">Select</option>
                <option>Low</option>
                <option>Medium</option>
                <option>High</option>
              </select>
            </div>

            <div class="col-md-3">
              <label for="department" class="form-label">Select Department</label>
              <select
                [(ngModel)]="newTicketObj.deptId"
                id="department"
                class="form-control"
                name="department"
              >
                <option value="">Select</option>
                @for (item of deptList (); track $index) {
                <option [value]="item.deptId">{{ item.deptName }}</option>
                }
              </select>
            </div>

            <div class="col-md-3">
              <label for="parentCategory" class="form-label">Select Parent Category</label>
              <select
                id="parentCategory"
                class="form-control"
                name="parentCategory"
                [(ngModel)]="selectedPcategory"
                (change)="oncategoryCange()"
              >
                <option value="">Select</option>
                @for (item of pCategoryList() ; track $index) {
                <option [value]="item.categoryName">{{ item.categoryName }}</option>
                }
              </select>
            </div>

            <div class="col-md-3">
              <label for="childCategory" class="form-label">Select Child Category</label>
              <select
                [(ngModel)]="newTicketObj.childCategoryId"
                id="childCategory"
                class="form-control"
                name="childCategory"
              >
                <option value="">Select</option>
                @for (item of filterCategory (); track $index) {
                <option [value]="item.childCategoryId">{{ item.categoryName }}</option>
                }
              </select>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-6">
              <label for="description" class="form-label">Description</label>
              <textarea
                [(ngModel)]="newTicketObj.requestDetails"
                id="description"
                name="description"
                class="form-control"
                rows="4"
              ></textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <button type="submit" class="btn btn-success" (click)="onCreateTicket()">
                Create Ticket
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
